body {
    background-color: #f0f2f5;
    /* Lägg till padding i botten så menyn inte täcker innehåll */
    padding-bottom: 80px; 
}

/* Anpassningar för checkboxar */
.scale-check {
    transform: scale(1.3);
    margin-top: 5px;
}

.btn {
    border-radius: 10px;
}

.card {
    border-radius: 15px;
}

/* Navbaren i botten */
.navbar-light .navbar-toggler {
    border: none;
}

.nav-btn {
    background: none;
    border: none;
    color: #6c757d;
    font-size: 0.8rem;
    font-weight: bold;
}

.nav-btn.active {
    color: #0d6efd; /* Bootstrap primary color */
}

.d-none {
    display: none !important;
}
